#sliderWrapper{
	display: block;
	width: 600px;
	height: 400px;
}

#sliderContainer{
	background-color: #999;
	display: block;
	width: 600px;
	float: left;
}

#slider{
	display: block;
	position: absolute;
	float: left;
	overflow: hidden;
	width: 600px;
	height: 400px;
}

#prev{

	float: left;
}
#next{

	float: right;

	text-align: right;
	padding-right: 1em;
}

.sliderController{
	display: block;
	height: 400px;
	width: 100px;
	position: relative;
	z-index: 99;
	font-weight: bold;
	color: white;
	font-size: xx-large;
	text-align: center;
}

.sliderController:hover{
	background-color: white ;
	opacity:0.3;
	filter:alpha(opacity=30);
	color: black;
}

.arrow{
	position: absolute;
	top: 50%;
	left: 50%;
}


